.header {
  display: none;
}

.filter_mobile {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.accommodation_filter_div {
  position: absolute;
  right: 0;
  z-index: 100;
  background-color: white;
  transform: translateX(110%);
  display: none;
  opacity: 0;
  transition: 0.4s transform ease-in-out;
  transition: 0.4s opacity linear;
  padding: 1rem 2rem;
}

.accommodation_list_div {
  grid-area: hotels;
  overflow: auto;
}

.sort_by {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort_by p {
  margin-right: 1rem;
}

.sort_by_select {
  min-width: 250px;
  font-size: 0.9rem;
}

.categories {
  margin-top: 1rem;
}

.categories_card {
  border-radius: 0;
  border: none;
}

.categories_title_div {
  background-color: white;
  padding: 0.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  border-bottom: none;
  border-radius: 0 !important;
}

.categories_facilities {
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.categories_title {
  margin: 0;
  padding: 0.1rem 0;
  border: none;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.categories_card_body {
  padding: 0rem 0 1rem 0;
}

.categories_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories_ul label {
  margin-left: 0.5rem;
}

.search_title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.search {
  border-color: hsl(0, 0%, 80%);
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 2px 8px;
}

@media (min-width: 960px) {
  .accommodation_container {
    margin: 2rem 0 4rem 0;
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-columns: 220px auto;
    grid-template-areas:
      "header header"
      "filter hotels";
  }

  .filter_mobile {
    display: none;
  }

  .accommodation_filter_div {
    grid-area: filter;
    position: initial;
    padding: 0;
    display: block !important;
    transform: translateX(0) !important;
    opacity: 1 !important;
  }

  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2rem 0;
  }
}

@media (min-width: 1140px) {
  .accommodation_container {
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-columns: 220px auto;
    grid-template-areas:
      ". header"
      "filter hotels";
  }

  .header {
    grid-area: header;
    margin: 0rem 1rem;
  }

  .accommodation_filter_div,
  .accommodation_list_div {
    margin-top: 1rem;
  }

  .sort_by {
    margin-right: 0;
  }
}
