.accommodation_container {
  margin-bottom: 2rem;
  display: grid;
  grid-gap: 0.5rem 2rem;
  grid-template-rows: 55px calc(100vh - 55px);
  grid-template-columns: 220px auto;
  grid-template-areas:
    "filter filter"
    "header header"
    "hotels hotels";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0;
}

.accommodation_filter_div {
  grid-area: filter;
}

.accommodation_list_div {
  grid-area: hotels;
  overflow: auto;
}

.sort_by {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort_by p {
  margin-right: 1rem;
}

.sort_by_select {
  min-width: 250px;
  font-size: 0.9rem;
}

.categories {
  margin-top: 1rem;
}

.categories_card {
  border-radius: 0;
  border: none;
}

.categories_title_div {
  background-color: white;
  padding: 0.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  border-bottom: none;
  border-radius: 0 !important;
}

.categories_facilities {
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.categories_title {
  margin: 0;
  padding: 0.1rem 0;
  border: none;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.categories_card_body {
  padding: 0rem 0 1rem 0;
}

.categories_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories_ul label {
  margin-left: 0.5rem;
}

.search_title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.search {
  border-color: hsl(0, 0%, 80%);
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 2px 8px;
}

@media (min-width: 960px) {
  .accommodation_container {
    margin: 2rem 0 4rem 0;
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-columns: 220px auto;
    grid-template-areas:
      "header header"
      "filter hotels";
  }
}

@media (min-width: 1140px) {
  .accommodation_container {
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-columns: 220px auto;
    grid-template-areas:
      ". header"
      "filter hotels";
  }

  .header {
    grid-area: header;
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
    margin: 0rem 1rem;
  }

  .accommodation_filter_div,
  .accommodation_list_div {
    margin-top: 1rem;
  }

  .sort_by {
    margin-right: 0;
  }
}
/* @media (min-width: 765px) {
  .sort_by {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .accommodation_list_div {
    flex-direction: row;
    justify-content: space-between;
  }
  .accommodation_list_div {
    gap: 5rem;
  }
  .accommodation_list {
    width: 70%;
  }
  .search {
    margin-bottom: 0;
  }
} */
