.modal_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;
}

.form input,
.form textarea {
  border-radius: 5px;
  border: 1px solid gray;
}

.form label {
  margin-top: 0.8rem;
}

.send_btn {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--clr-primary-light-blue);
  color: white;
}

.send_btn:hover {
  border: 1px solid var(--clr-primary-light-blue);
  background-color: white;
  color: var(--clr-primary-light-blue);
}

/** trip **/
.trip_form {
  background-color: var(--clr-secondary-blue);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.trip_form_input {
  display: flex;
  flex-direction: column;
}

.trip_form_inputs {
  border: none;
}

.trip_form_input label {
  margin: 0.5rem 0;
}

.trip_form input,
select {
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
}

.price_details_div {
  margin-bottom: 2rem;
}

.price_details {
  margin-top: 0.5rem;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.price_details_total {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
