.hero_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.search_div {
  padding: 1.5rem 2rem;
  background-color: var(--clr-white);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.search_title {
  text-transform: uppercase;
  margin: 1rem 0;
}

.search {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.search_box {
  display: grid;
}

@media (min-width: 576px) {
  .hero_div {
    flex-direction: row;
  }

  .search_div {
    position: absolute;
    width: 70%;
    max-width: 600px;
  }

  .search_title {
    margin-top: 0;
  }

  .search_box {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .search {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
}

.categories_div {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.category_name {
  font-family: var(--ff-sans-title);
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0rem 1rem;
  color: gray;
  border-bottom: 2px solid gray;
}

.category_name:hover {
  cursor: pointer;
  color: var(--clr-primary-blue);
  border-color: var(--clr-primary-blue);
}

.active {
  color: var(--clr-secondary-dark);
  border-color: var(--clr-secondary-dark);
}
