.category_tab {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  border: none;
}

.category_tab li button {
  text-transform: uppercase;
  font-family: var(--ff-sans-title);
  border: 2px solid transparent !important;
  color: var(--clr-primary-light-blue);
}

.hotel_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
