.accordion_header {
  display: flex;
  flex-direction: column;
}

.fullName {
  font-size: 1.2em;
}

.date {
  width: 100px;
}

.subject {
  margin-top: 0.5rem;
}

.span_header {
  margin-right: 0.5rem;
}

@media (min-width: 576px) {
  .accordion_header {
    flex-direction: row;
  }
  .subject {
    margin: 0;
  }
  .span_header {
    margin-left: 3rem;
  }
}

.message_div {
  border: 2px solid pink;
}

.message {
  margin-top: 2rem;
  max-width: 600px;
}
