.establishment {
  background-color: white;
  padding: 2rem 0rem;
}

.icon_plus {
  margin-right: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
}

.form label {
  margin-top: 0.5rem;
}

.form input,
.form textarea {
  border-radius: 5px;
  border: 1px solid gray;
}

.form h4 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.details_div {
  grid-area: details;
}

.facilities_div {
  grid-area: facilities;
}

.resources_div {
  grid-area: resources;
}

.form_button_div {
  margin-top: 2rem;
}

.form_button_div button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.form_button_clear {
  background-color: var(--clr-secondary-dark);
  color: white;
}

.form_button_clear:hover {
  color: var(--clr-secondary-dark);
  background-color: white;
  border: 1px solid var(--clr-secondary-dark);
}

.form_button_add {
  background-color: green;
  color: white;
  margin-left: 0.5rem;
}

.form_button_add:hover {
  color: green;
  background-color: white;
  border: 1px solid green;
}

@media (min-width: 768px) {
  .form_container {
    display: grid;
    grid-template-areas:
      "details facilities"
      "details resources";
  }

  .facilities_div,
  .resources_div {
    margin-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .form_container {
    grid-template-areas: "details facilities resources";
  }
}
